:root {
  --primary-background-color: #252525;
  --secondary-background-color: #e9e9e9;
  --blue-color: #1e8cbe;
}

@font-face {
  font-family: 'marker';
  src: url(./fonts/PermanentMarker-Regular.ttf);
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  list-style: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--primary-background-color);
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'marker';
  font-size: 4rem;
  color: var(--blue-color);
}

main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.gameSpace {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.gameButtons {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.gameContainer {
  background-color: var(--blue-color);
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 10px;
  width: 500px;
  height: 500px;
  border: 10px solid var(--blue-color);
  border-radius: 4px;
}

.gameSquare {
  background-color: var(--secondary-background-color);
  font-family: 'marker';
  font-size: 5rem;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.gameSquare:hover {
  border: 1px solid var(--primary-background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  filter: brightness(105%);
}

.footer {
  background-color: var(--primary-background-color);
  color: var(--blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a:link,
.footer a:visited,
.footer a:active {
  padding: 2px;
  text-decoration: none;
  color: var(--blue-color);
}

.footer a:hover {
  font-weight: 700;
}

.taken {
  cursor: default;
}

.taken:hover {
  border: none;
  box-shadow: none;
  filter: none;
}