:root {
  --primary-background-color: #252525;
  --secondary-background-color: #e9e9e9;
  --blue-color: #1e8cbe;
}

@font-face {
  font-family: 'marker';
  src: url(./fonts/PermanentMarker-Regular.ttf);
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  list-style: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--primary-background-color);
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'marker';
  font-size: 4rem;
  color: var(--blue-color);
}

main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
  position: relative;
}

.gameSpace {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.gameButtons {
  display: flex;
  justify-content: space-between;
}

.gameButtons button {
  border: 2px solid var(--blue-color);
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 1.7rem;
  cursor: pointer;
  background-color: var(--primary-background-color);
  color: var(--blue-color);
}

.gameButtons button:hover,
.newGameOptions button:hover,
.startGame:hover,
.returnButton:hover {
  background-color: var(--blue-color);
  color: var(--secondary-background-color);
}

.winnerScreen {
  position: fixed;
  z-index: 5;
  width: 480px;
  height: 480px;
  text-align: center;
  padding-top: 165px;
  background-color: rgba(37, 37, 37, 0.9);
  color: var(--secondary-background-color);
  font-size: 4rem;
}

.gameContainer {
  background-color: var(--blue-color);
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 10px;
  width: 500px;
  height: 500px;
  border: 10px solid var(--blue-color);
  border-radius: 4px;
}

.gameSquare {
  background-color: var(--secondary-background-color);
  font-family: 'marker';
  font-size: 5rem;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.gameSquare:hover {
  border: 1px solid var(--primary-background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  filter: brightness(105%);
}

.newGameOptions {
  background-color: var(--primary-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  position: relative;
  min-height: 200px;
  min-width: 400px;
  margin-bottom: 50px;
}

.newGameOptions button {
  border: 2px solid var(--blue-color);
  width: 35vw;
  height: 50%;
  border-radius: 10px;
  font-size: 2.5rem;
  cursor: pointer;
  background-color: var(--primary-background-color);
  color: var(--blue-color);
}

.playerNameSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15vh;
  margin-top: 10vh;
  margin-bottom: 30px;
}

.inputs {
  display: flex;
  gap: 10vw;
  padding: 0 50px;
}

.input label,
.input input {
  display: block;
  width: 100%;
  text-align: center;
}

.input label {
  margin-bottom: 8px;
  color: var(--secondary-background-color);
  font-size: 2rem;
  font-weight: 700;
}

.input input {
  appearance: none;
  outline: none;
  font-family: 'marker';
  font-size: 3rem;
  border: none;
  border-radius: 10px;
  background-color: var(--secondary-background-color);
}

.input input:hover {
  filter: brightness(110%);
  box-shadow: inset 0 0 8px var(--blue-color);
}

.input input:focus {
  filter: brightness(110%);
  box-shadow: inset 0 0 0 4px var(--blue-color);
}

.startGame {
  padding: 30px 60px;
  font-size: 2rem;
  font-weight: 700;
  border: 2px solid var(--blue-color);
  background-color: var(--primary-background-color);
  color: var(--blue-color);
  border-radius: 10px;
  cursor: pointer;
}

.returnButton {
  padding: 10px 30px;
  font-size: 1.2rem;
  border: 1px solid var(--blue-color);
  background-color: var(--primary-background-color);
  color: var(--blue-color);
  border-radius: 10px;
  cursor: pointer;
}

.footer {
  background-color: var(--primary-background-color);
  color: var(--blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a:link,
.footer a:visited,
.footer a:active {
  padding: 2px;
  text-decoration: none;
  color: var(--blue-color);
}

.footer a:hover {
  font-weight: 700;
}

.taken {
  cursor: default;
}

.taken:hover {
  border: none;
  box-shadow: none;
  filter: none;
}

.hidden {
  display: none;
}